.playlist input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #eee;
    font-size: 1.55rem;
    color: white;
}

.playlist .save-button {
    cursor: pointer;
    width: 8rem;
    padding: 0.75rem 0;
    border-radius: 50px;
    border: none;
    background: #6c41ec;
    color: white;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.25s;
}

.playlist .save-button:hover {
    background-color: rgba(108, 65, 233, 0.7);
}
